* {
    box-sizing: border-box;
}

.navigation{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-end; */

    justify-content: flex-end;
    /* justify-content: flex-start | flex-end | center | space-between | space-around */
    align-items: center;
    /* align-items: flex-start | flex-end | center | baseline | stretch */
    flex-direction: row;
    /*flex-direction: row | row-reverse | column | column-reverse*/
}

.nav-item{
    padding-right: 20px;
    /* width: 75px; */
    /* padding: 20px; */
}

#nav-logo{
    margin-right: auto;
}


body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    /* text-align: center; */
}

.cover{
    background-image: url(img/vcpic.jpg);
    background-size: cover;
}

/* #section1{
    background-image: url(img/vcpic.jpg);
    background-size: cover;
} */

.section-odd{
    margin:0px;
    padding:0px;
    background-color: #3EC28F;
}

.section-even{
    margin:0px;
    padding:0px;
    background-color: #C095FA;
}
